doctype html
html(lang="en")
    head 
        title= title
        link(rel="stylesheet" href="/tufte.css")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(charset="utf-8")
        script(defer, data-domain="mark.mclaughlin.me.uk", src="https://plausible.io/js/plausible.js")
    body!=content 
