<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                {{ content | safe }}
            </div>
        </div>
    </body>
</html>