body {font-family: "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif; width: 70%; max-width: 800px; margin-left: auto; margin-right: auto;}
address {font-size: 90%; color: #888; font-style: normal; text-align: center;}
address>abbr {color: #000;  font-weight: bold;}
h1 {color: #0080c0; font-size: 160%; text-align: center; border-bottom: #08a 1px solid; width: 50%; margin: 1em auto; padding-bottom: 0.5em;}
h2 {color: #00a0c0; font-size: 130%; margin-bottom: 1em; border-bottom: #c0e0e0 1px solid; padding-bottom: 0.5em;}
h3 {color: #0080a0; font-size: 120%; margin-bottom: 0.25em;}
h4 {color: #20a0c0; margin-top: 0; margin-bottom: 0;}
h4+p {color: #60a0c0; margin-top: 0.2em; font-size: 90%;}
h4>span{font-weight: normal;}
h5 { color: #808080; font-size: 100%; margin-bottom: 0.5em;}
h5>span{font-weight: normal;}
ul {margin-top: 0; font-size: 90%; line-height: 150%;}
ol {margin-bottom: 1em;}
li {margin-bottom: 0.5em;}
strong {background-color: #f7d7a7; font-weight: bold; padding: 0.3em;}
cite {background-color: #fda; font-weight: normal; font-style: normal; padding: 0.3em;}
hr {border: #ddd 1px solid; margin: 2em auto; width: 50%;}
ol {font-size: 75%;}
blockquote {font-size: 90%; background-color: #eee; line-height: 150%; padding: 0.5em 1em;}
blockquote cite {background-color: inherit; font-weight: bold; margin-bottom: 0;}
blockquote address {text-align: left; margin-top: 0;}
p {font-size: 90%; line-height: 150%;}
a {font-weight: bold; color: #20a0c0;}
sup>a{padding: 0.3em; color: #20a0c0;}
sup>a::before{content:"[";}
sup>a::after{content:"]";}
h3#microsoft {background-image: url(../i/microsoft.png); text-indent: -9000px; background-repeat: no-repeat; height: 45px;}
h3#skype {background-image: url(../i/skype-flat.png); text-indent: -9000px; background-repeat: no-repeat; height: 45px;}
h3#three {background-image: url(../i/three_logo_blue.gif); text-indent: -9000px; background-repeat: no-repeat; height: 76px;}
h3#ericsson {background-image: url(../i/ericsson.png); text-indent: -9000px; background-repeat: no-repeat; height: 47px;}
h3#artistdirect {background-image: url(../i/artistdirect.png); text-indent: -9000px; background-repeat: no-repeat; height: 45px;}
h3#tamar {background-image: url(../i/tamar.gif); text-indent: -9000px; background-repeat: no-repeat; height: 100px; background-position: -17px 0px;}