---
title: "Resumé/CV of Mark McLaughlin, mobile and devices UI designer"
layout: "default.pug"
---

include _includes/mixins.pug

article
  section
    h1 Mark McLaughlin
    p I'm an English-born, Irish designer and developer with over 20 years experience creating content and user interfaces for web, mobile web, native applications and hardware devices.
    p I've worked hand-in-hand with hardware partners, design teams, product managers and engineers to deliver compelling and user-friendly experiences for almost every consumer electronics platform - mobile, desktop, augmented reality, smart TV's, game consoles and the web.

  section
    h2 Microsoft
    h3 Principal Design Director, Visual Studio
    p I'm currently leading multiple design teams across the the US and Europe, helping define the developer experience for the #[a(href="//visualstudio.microsoft.com/") Visual Studio] family of code editing tools at Microsoft in Redmond, WA.
    
    p As well as ongoing feature iterations across the products, the team actively takes part in independent open-source initiatives, such as our #[a(href="https://www.infoworld.com/article/3645144/using-the-webview-ui-toolkit-for-visual-studio-code.html") WebView UI Toolkit] for Visual Studio Code, built upon open-standards #[a(href="https://www.webcomponents.org") Web Components]:

    +figure("webview-ui-toolkit-artwork.png", "The WebView UI Toolkit for Visual Studio code provides extension developers with accessible, themeable controls that adapt to user preferences.")

    +epigraph("By giving VS Code extensions a consistent and themed set of accessible UI components, it will make your extensions more acceptable to users and help make them more productive. That’s a win for all of us.", "Simon Bisson", "InfoWorld")

    h3 Principal Design Manager, Developer Division
    p Initially brought into the team for my design systems expertise, my role expanded to lead a group of design technologists, building out prototypes, #[a(href="//figma.com/@microsoft/") Figma extensions] and open-source tooling to help bridge the gap between design and engineering teams.

    +figure("status-board.jpg", "Prior to the COVID-19 pandemic, the team built a live status board to keep the global team informed of relevant daily information while in the office space, showing data from WSDOT and other relevant sources.")

  section
    h3 Senior Design Manager, Developer Services
    p During the course of 2017, I managed a team of 8 individual contributors across Redmond, Raleigh and #[a(href="//www.microsoft.com/en-in/msidc/") Hyderabad] for the Developer Services group at Microsoft, building out experiences for distributed development teams that relied on the collaborative Azure DevOps suite; including work item tracking, repository management, component governance and other enterprise-scale features.
    +figure("azure-devops.jpg")
    p #[span.newthought A highlight], was how I initiated the usage of Figma#[+sidenote("sn-figma", "Within the product team at Figma, pre-pandemic, I was infamously known as 'Patient Zero' at Microsoft.")] across multiple design teams across Microsoft, including speaking and sharing best practices at internal events, and ultimately facilitating over 4,000 editors within the Developer Division, Dynamics, Microsoft 365, Windows, and Azure product teams to move to one centralised design tool.

  section
    h2 Skype
    h3 Senior Designer, Gaming and Entertainment
    p Wrapping up my tenure at Skype in 2017, I flipped back to an individual contributor role to take the opportunity to redesign the desktop Skype experience to a UWP#[+sidenote('sn-uwp', 'Universal Windows Platform')] application on the Xbox One platform.

    +figure("skype-for-xbox-one.jpg", "Skype for Xbox One, showing the multi-party video experience.")
  
    p.subtitle Skype for HoloLens 
    p During the course of 2015, I lead the design group responsible for building the companion experience for remote participants on Skype holographic calls, and collaborating with the Windows Holographic team to define the native holographic experience.

    +figure("skype-for-hololens.jpg", "Commander Scott Kelly using Skype for HoloLens on the ISS as part of NASA's 'Project Sidekick' initiative.")
    
  section
    h2 Skype
    h3 Design Lead, Mobile 

    p Prior to the acquisition of Skype at Microsoft, I formed a world class team of 12 interaction and visual designers defining the Skype and Qik experience across iPhone, iPad#[+sidenote('sn-apple', 'Recognized by Apple in 2013 for Skype on iPad being the most downloaded iPad application of all time.')] , Android, BlackBerry, Symbian, BREW, WebOS, MeeGo and Windows Phone platforms -- on all form factors.

    h3 Senior Interaction Designer, Mobile and Platform
    p Working with carriers, hardware vendors and other partners as a senior designer creating and defining the interaction design and user experience for Skype on mobile and hardware devices.

    h3 UI Designer - Mobile &amp; Embedded
    p I joined Skype in 2006 as their first dedicated mobile product designer, focusing my attention on early clients for Series 60, UIQ, Maemo and Java devices.

    

  section 
    h2 References 
    +epigraph("It is rare in our business to find someone with the talent to effect such important advances for the industry and its artists while maintaining such integrity and enthusiasm.", "Rick Rubin", "American Recordings")